<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/website.css" />
    <title>Blog1</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home"
          ><img
            src="https://www.clipartmax.com/png/middle/238-2386243_pills-comments-medicine-icon-png.png"
            alt="image not loading"
            id="pic"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schemes">Schemes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meds">Meds</a>
            </li>
            <li class="nav-item-logout">
              <a href="/login" class="nav-link">Logout</a>
            </li>
            <li class="nav-item-profile">
              <a href="/profile" class="nav-link"
                ><img
                  src="https://www.seekpng.com/png/detail/41-410093_circled-user-icon-user-profile-icon-png.png"
                  id="pp"
                  alt="na"
                />
                <%= profilename%></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h4>Blog 1</h4>
      <hr />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis
        expedita atque voluptatem voluptas dolores, totam perferendis quae
        corrupti vitae distinctio vero itaque sequi quibusdam. Voluptatem,
        laborum ea corrupti nulla error culpa, veritatis quaerat nihil qui hic
        dolore est minima perspiciatis laudantium vitae dicta dolorem accusamus
        iusto dignissimos. Natus quas distinctio voluptate, totam cupiditate
        consequuntur id! Quod, nemo. Officia dignissimos voluptatem
        necessitatibus consectetur beatae culpa a ad ipsam maxime aliquam
        mollitia nulla amet rem impedit est natus iusto asperiores modi
        recusandae, unde quasi, dicta vel non repudiandae? Corrupti unde
        deleniti veniam porro hic doloremque dolores eaque facilis
        exercitationem tenetur voluptate dicta animi eveniet nemo necessitatibus
        quos ullam distinctio ratione commodi eius, quasi, at nam vitae totam.
        Libero, ut. Fuga animi dolores quia nulla provident dolorum, ullam
        deserunt. Quod quis esse, assumenda sequi sed delectus, modi ab enim
        pariatur incidunt architecto nam odit aliquid quos, laborum voluptate
        unde. Totam, consequuntur voluptatibus placeat rerum incidunt quam
        pariatur voluptas, at ad unde rem temporibus. Aut at neque porro ullam
        eius laborum optio facilis minus repellendus ut. Quia eum eaque, ut quae
        porro rem obcaecati eos similique dolor adipisci, magnam itaque
        repellendus veritatis perspiciatis quod quis quo voluptatibus vitae enim
        nobis asperiores, velit molestiae. Iste nisi, natus dolores consequatur
        non unde earum dicta saepe voluptatem eveniet aliquid exercitationem
        nostrum quam voluptatibus cum a sit repellat itaque amet fugit totam in
        assumenda sed! Pariatur cum magnam, iusto earum voluptatibus
        reprehenderit tempora, et eligendi aut laudantium porro maxime tempore
        esse repellat! Repudiandae accusantium et nesciunt similique! Ipsum
        assumenda odit illo, aperiam voluptatum laudantium explicabo inventore
        odio quod sed eveniet, aliquam sunt nesciunt nostrum fuga veniam. Culpa
        ipsa repellendus repudiandae? Voluptates nihil magni, vero illo,
        obcaecati, necessitatibus a quibusdam perferendis nemo repellendus
        cupiditate aperiam nisi voluptatibus et sed accusantium minus quas.
        Voluptates, eius, praesentium qui dolores facere similique harum vitae
        debitis repudiandae dolorem quae officiis temporibus nihil error
        recusandae expedita voluptatem enim omnis. Voluptatem necessitatibus
        libero quibusdam hic minus aperiam molestias! Animi necessitatibus quod
        laboriosam officia recusandae vero quae obcaecati ab inventore rem.
        Recusandae consequuntur architecto quod vel porro. Quibusdam nobis
        tenetur qui facere quidem necessitatibus libero similique, quia error
        eum amet perspiciatis nulla voluptas, eius nihil dolores, ut rem rerum
        beatae eveniet provident. Nostrum soluta, ullam, iusto totam
        reprehenderit architecto eum autem quos molestiae omnis nobis? Odit ad
        voluptates quis aliquid sed nesciunt dolor quod fuga animi,
        necessitatibus labore consectetur itaque similique, sequi autem pariatur
        quasi in optio voluptas quae ea. Quod in, neque nihil voluptatem rerum
        nisi sunt dicta perspiciatis aliquam! Pariatur eius quod explicabo amet
        atque ullam, ut excepturi sunt consequuntur debitis perferendis neque
        adipisci. Sed, maiores soluta ut vero eos sit cumque veniam eligendi!
        Velit officiis totam magnam atque ullam nisi asperiores error
        consequatur soluta beatae distinctio aliquam amet eligendi omnis
        quibusdam excepturi fugit, nihil ipsa cumque? Cupiditate, officia
        maiores provident ipsam voluptatum fuga dignissimos soluta nulla
        incidunt aspernatur dolor? Praesentium sed totam, iure sint in id nemo
        veritatis, ea mollitia recusandae cum error similique. Aspernatur,
        accusantium consequatur blanditiis modi optio incidunt maxime ex.
      </p>
      <hr />
      <br />
      <h5>Comments</h5>
      <hr />
      <form action="/blog1-r" method="post">
        Write a comment: <br />
        <textarea name="comment" id="c1" cols="30" rows="10"></textarea><br />
        <button type="submit">COMMENT</button>
      </form>
      <!-- Display Data here -->
      <div class="comments">
        <hr />
        <ul>
          <% comments.forEach(function(i){ %>
          <li class="comment-item">
            <div class="comment-text">
              <h6><%= i.user %></h6>
              <%= i.data %> <br/>
            </div>
            <hr>
          </li>
          <br />
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
