<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/website.css" />
    <title>About</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home"
          ><img
            src="https://www.clipartmax.com/png/middle/238-2386243_pills-comments-medicine-icon-png.png"
            alt="image not loading"
            id="pic"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schemes">Schemes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meds">Meds</a>
            </li>
            <li class="nav-item-logout">
              <a href="/login" class="nav-link">Logout</a>
            </li>
            <li class="nav-item-profile">
              <a href="/profile" class="nav-link"
                ><img
                  src="https://www.seekpng.com/png/detail/41-410093_circled-user-icon-user-profile-icon-png.png"
                  id="pp"
                  alt="na"
                />
                <%= profilename%></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1>About Medicompanion</h1>
      <p>
        Welcome to our website, a platform designed to provide a seamless
        interface between individuals and the medical and healthcare sector. Our
        mission is to empower people to make informed decisions about their
        health by offering a comprehensive range of services that help them
        connect with hospitals, apply for medical schemes, and compare the
        prices of medicines.
      </p>
      <p>
        We understand that navigating the complex world of healthcare can be
        overwhelming, and that's why we've created a user-friendly platform that
        puts you in control of your health. Our website provides you with access
        to information and resources that are essential to making informed
        decisions about your healthcare needs.
      </p>
      <p>
        Our hospital directory makes it easy for you to find and connect with
        hospitals in your area. Whether you need to schedule an appointment or
        find a specialist, our platform provides you with the tools you need to
        make informed decisions about your healthcare.
      </p>
      <p>
        We also offer a comprehensive range of medical schemes that cater to
        different budgets and healthcare needs. Our team of experts is available
        to help you choose the right scheme that meets your requirements, and
        our online application process makes it easy for you to apply for your
        chosen scheme.
      </p>
      <p>
        We understand that the cost of medicines can be a major concern for many
        people. That's why we've developed a tool that allows you to compare the
        prices of different medicines from various pharmacies in your area. This
        feature helps you make informed decisions about your purchases, saving
        you money in the process.
      </p>
      <p>
        Our website is designed to help you be better connected with the medical
        and healthcare sector. Whether you need information about health-related
        events, news, or resources, our platform provides you with a wealth of
        information that helps you stay up-to-date with the latest developments
        in the healthcare sector.
      </p>
      <p>
        In conclusion, our website is dedicated to making healthcare accessible,
        affordable, and convenient for everyone. We're committed to empowering
        individuals to take control of their health by providing them with the
        tools and resources they need to make informed decisions about their
        healthcare needs. We invite you to explore our website and discover how
        we can help you take charge of your health.
      </p>
    </div>
  </body>
</html>
